/* this is external css */

.content{
    background-color: red;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

#details{
    font-weight: 900;
    color: rgb(59, 13, 13);
    background-color: rgb(200, 200, 222);
    font-size: 24px;
    text-align: center;
    padding: 10px;
}